CompileFlags:
  CompilationDatabase: "."
  Add:
    - "-std=c++20"
    - "-Iinclude"
    - "-Itests"
    - "-Isrc"
    - "-DGUIM_INPUT_DIM=64"
    - "-DGUIM_STATE_DIM=256"
    - "-DGUIM_REFLEX_MOTORS=32"
    - "-Wno-unknown-attributes"
    - "-Wno-unused-parameter"

Diagnostics:
  Suppress:
    - "pp_file_not_found"
    - "fatal_too_many_errors"
    - "drv_no_cuda_installation"
    - "drv_no_cuda_libdevice"
